<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default_layout">
<head>
<title>Candidate List</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  -->

<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<style>
#imaginary_container {
	
}

.stylish-input-group .input-group-addon {
	background: white !important;
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group button {
	border: 0;
	background: transparent;
}
</style>
</head>
<body>
	<div id="content" layout:fragment="content" class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3"></div>
		</div>
		 <span class="inline-dropdown-menu">
			<div id="list1" class="dropdown-check-list" tabindex="100">
			<span class="anchor">Select Columns to Show/Hide</span>
			<ul id="items" class="items">
				<li><input name='tablefilter1' type='checkbox' value='FY' checked="true"
					id='tablefilter1' />
				<label for='tablefilter1'>FY</label></li>

				<li><input name='tablefilter2' type='checkbox' value='Status'
					checked="true" id='tablefilter2' />
				<label for='tablefilter2'>Status</label></li>

				<li><input name='tablefilter3' type='checkbox' value='Name'
					checked="true" id='tablefilter3' />
				<label for='tablefilter3'>Name</label></li>

				<li><input name='tablefilter4' type='checkbox' value='Gender'
					id='tablefilter4' />
				<label for='tablefilter4'>Gender</label></li>

				<li><input name='tablefilter5' type='checkbox' value='Platform'
					id='tablefilter5' />
				<label for='tablefilter5'>Platform</label></li>

				<li><input name='tablefilter6' type='checkbox' value='Domain'
					id='tablefilter6' />
				<label for='tablefilter6'>Domain</label></li>

				<li><input name='tablefilter7' type='checkbox' value='Skill/Project'
					id='tablefilter7' />
				<label for='tablefilter7'>Skill/Project</label></li>

				<li><input name='tablefilter8' type='checkbox' value='Phone Screening'
					id='tablefilter8' />
				<label for='tablefilter8'>Phone Screening</label></li>

				<li><input name='tablefilter9' type='checkbox' value='Interview Date'
					id='tablefilter9' />
				<label for='tablefilter9'>Interview Date</label></li>

				<li><input name='tablefilter10' type='checkbox' value='COBI'
					id='tablefilter10' />
				<label for='tablefilter10'>COBI</label></li>
			
				<li><input name='tablefilter11' type='checkbox' value='Offer Date'
					id='tablefilter11' />
				<label for='tablefilter11'>Offer Date</label></li>
		
				<li><input name='tablefilter12' type='checkbox' value='Start Date'
					id='tablefilter12' />
				<label for='tablefilter12'>Start Date</label></li>
		
				<li><input name='tablefilter13' type='checkbox' value='Candidate Status'
					id='tablefilter13' />
				<label for='tablefilter13'>Candidate Status</label></li>
				
				<li><input name='tablefilter14' type='checkbox' value='Rejection Reason'
					id='tablefilter14' />
				<label for='tablefilter14'>Rejection Reason</label></li>
				
				<li><input name='tablefilter15' type='checkbox' value='Comments'
				
					id='tablefilter15' />
				<label for='tablefilter15'>Comments</label></li>
				
				<li><input name='tablefilter16' type='checkbox'
					value='Expected Salary (EUR)' id='tablefilter16' />
				<label for='tablefilter16'>Expected Salary (EUR)</label></li>
				
				<li><input name='tablefilter17' type='checkbox'
					value='Offered Salary (EUR)' id='tablefilter17' />
				<label for='tablefilter17'>Offered Salary (EUR)</label></li>
				
				<li><input name='tablefilter18' type='checkbox' value='Career Level'
					id='tablefilter18' />
				<label for='tablefilter18'>Career Level</label></li>
				
				<li><input name='tablefilter19' type='checkbox' value='HR interviewer'
					checked="true" id='tablefilter19' />
				<label for='tablefilter19'>HR interviewer</label></li>
				
				<li><input name='tablefilter20' type='checkbox' value='COBI interviewer'
					id='tablefilter20' />
				<label for='tablefilter20'>COBI interviewer</label></li>
				
				<li><input name='tablefilter21' type='checkbox' value='Source'
					id='tablefilter21' />
				<label for='tablefilter21'>Source</label></li>
			</ul>
		</div>
</span>
		<div class="row table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th class='tablefilter1'>FY</th>
						<th class='tablefilter2'>Status</th>
						<th class='tablefilter3'>Name</th>
						<th class='tablefilter4'>Gender</th>
						<th class='tablefilter5'>Platform</th>
						<th class='tablefilter6'>Domain</th>
						<th class='tablefilter7'>Skill/Project</th>
						<th class='tablefilter8'>Phone Screening</th>
						<th class='tablefilter9'>Interview Date</th>
						<th class='tablefilter10'>COBI</th>
						<th class='tablefilter11'>Offer Date</th>
						<th class='tablefilter12'>Start Date</th>
						<th class='tablefilter13'>Candidate Status</th>
						<th class='tablefilter14'>Rejection Reason</th>
						<th>Offer Rejection Reason</th>
						<th class='tablefilter15'>Comments</th>
						<th class='tablefilter16'>Expected Salary (EUR)</th>
						<th class='tablefilter17'>Offered Salary (EUR)</th>
						<th class='tablefilter18'>Career Level</th>
						<th class='tablefilter19'>HR interviewer</th>
						<th class='tablefilter20'>COBI interviewer</th>
						<th class='tablefilter21'>Source</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${candidates !=null}"
						th:each="candidate : ${candidates}">
						<td><a class="btn btn-success btn-xs" data-title="Edit"
							data-toggle="modal" data-target="#edit"
							th:href="@{/candidates/{id}(id=${candidate.id})}"><span
								class="glyphicon glyphicon-pencil"></span></a></td>
						<td class='tablefilter1' th:text="${candidate.fiscalYear}"></td>
						<td class='tablefilter2' th:text="${candidate.status}"></td>
						<td class='tablefilter3' th:text="${candidate.name}"></td>
						<td class='tablefilter4' th:text="${candidate.gender}"></td>
						<td class='tablefilter5' th:text="${candidate.platform}"></td>
						<td class='tablefilter6' th:text="${candidate.domain}"></td>
						<td class='tablefilter7' th:text="${candidate.skill}"></td>
						<td class='tablefilter8' th:text="${candidate.phonecallDate}"></td>
						<td class='tablefilter9' th:text="${candidate.interviewDate}"></td>
						<td class='tablefilter10' th:text="${candidate.cobiDate}"></td>
						<td class='tablefilter11' th:text="${candidate.offerDate}"></td>
						<td class='tablefilter12' th:text="${candidate.startDate}"></td>
						<td class='tablefilter13' th:text="${candidate.candidateStatus}"></td>
						<td class='tablefilter14' th:text="${candidate.rejectionReason}"></td>
						<td th:text="${candidate.offeredRejectionReason}"></td>
						<td class='tablefilter15' th:text="${candidate.comments}"></td>
						<td class='tablefilter16' th:text="${candidate.expectedSalaryEur}"></td>
						<td class='tablefilter17' th:text="${candidate.offeredSalaryEur}"></td>
						<td class='tablefilter18' th:text="${candidate.level}"></td>
						<td class='tablefilter19' th:text="${candidate.interviewerName}"></td>
						<td class='tablefilter20' th:text="${candidate.interviewerCOBI}"></td>
						<td class='tablefilter21' th:text="${candidate.source}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="form-group col-md-1">
				<select class="form-control pagination" id="pageSizeSelect">
					<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
						th:value="${pageSize}"
						th:selected="${pageSize} == ${selectedPageSize}"></option>
				</select>
			</div>
			<div th:if="${candidates.totalPages != 1}"
				class="form-group col-md-11 pagination-centered">
				<ul class="pagination">

					<li th:class="${candidates.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/candidates/filter/(pageSize=${selectedPageSize}, page=1, name=${search})}">&laquo;</a>
					</li>
					<li th:class="${candidates.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/candidates/filter/(pageSize=${selectedPageSize}, page=${candidates.number}, name=${search})}">&larr;</a>
					</li>
					<li
						th:class="${candidates.number == (page -1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink"
						th:href="@{/candidates/filter/(pageSize=${selectedPageSize}, page=${page}, name=${search})}"
						th:text="${page}"></a>
					</li>
					<li
						th:class="${candidates.number + 1 == candidates.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/candidates/filter/(pageSize=${selectedPageSize}, page=${candidates.number + 2}, name=${search})}">&rarr;</a>
					</li>
					<li
						th:class="${candidates.number + 1 == candidates.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{
                       /candidates/filter/
                       (pageSize=${selectedPageSize}, page=${candidates.totalPages}, name=${search})
                       }">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>